html, body, div {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: #ebebeb;
    color: #7d7d7d;
}


/**
BOXES
**/ 


.container {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    row-gap: 20px;
    font-size: 90%;
    line-height: 2.0;
}

.bio {
    grid-column: 2 / span 1;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 50px;
    background-color: white;
    border-radius: 5px;  
}

.social-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 2 / span 1;
    background-color: white;
    align-items: center;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    color: lightgray;
}

i {
    font-size: 200%;

}

.movies {
    display: grid;
    grid-column: 2 / span 1;
    background-color: white;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-size: 90%;
    margin-bottom: 3em;
}

.movies p {
    padding: 2em;
    text-align: justify;
}

.movies h2 {
    text-align: center;
}

/**
* LAYOUT
**/

.center {
    text-align: center;
    width: 50%;
    margin: auto;
}

.bio-picture {
    width: 15%;
    border-radius: 50%;
    border: solid #cccccc 4px;
}

.wiki-link {
    width: 20%;
    border-radius: 5%;
    padding: 10px;
    background-color: #dd5555;
    font-size: 90%;
}
a.wiki-link:visited, a.wiki-link {
    color: white;
    text-decoration: none;

}
a.wiki-link:hover {
    text-decoration: underline;
    opacity: 0.9;
}

.movie-img {
    padding: 30px;
    width: 20%;
}

.no-weight {
    font-weight: normal;
}

h1 {
    color: #dd5555;
    padding: 5px;
}

ul {
    list-style-type: none;
    color: #cccccc;
    font-size: 100%;
}

li {
    display: inline-flex;
    padding: 30px;
}